<!DOCTYPE html>
<html>
<head>
  <title>AboutMeSite</title>
  <link href='http://fonts.googleapis.com/css?family=Lobster|Oswald' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Montserrat', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to('Home', root_path) %></li>
        <li><%= link_to('About', about_path) %></li>
        <li><%= link_to('Portfolio', portfolio_path) %></li>
        <li><%= link_to('Blog', blog_path) %></li>
        <li><%= link_to('Contact Me', contact_path) %></li>
      </ul>
    </nav>
  </header>
  <div class="<%= params[:action] %>-wrapper">
    <%= yield %>
  </div>  
  <footer>
    <li>Contact</li>
    <li>LinkedIn</li>
    <li>Github</li>
  </footer>

</body>
</html>
